.container {
    display: flex;

}

.leftPart {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    height: 100%;
    width: 25%;
}

.leftPart button {
    width: 100px;
}

.buttonContainer {
    display: flex;
}

.rightPart {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    height: 100%;
    width: 75%;
}

.rightPart input {
    width: 500px;
}

.rightTopPart {
    display: flex;
    justify-content: space-around;
}

.rightPart table {
    margin: 30px;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.table {
    box-shadow: 0 0 15px 4px rgb(194, 194, 194);
    padding: 10px;
}

.table_titles {
    position: relative;
    top: -10px;
    right: 35px;
}