.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .topPart {
    display: flex;

    button {
      margin-left: 20px;
    }

    input {
      width: 600px;
      height: 30px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;

    h1 {
      display: flex;
      justify-content: center;
    }

    input {
      width: 60%;
    }

    .table {
      box-shadow: 0 0 15px 4px rgb(194, 194, 194);
      padding: 10px;

      .table_titles {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.card {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}