.cardList {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 100px;
}


.rightTopPart {
    display: flex;
    justify-content: space-around;
}

.rightPart table {
    margin: 30px;
}


.table {
    box-shadow: 0 0 15px 4px rgb(194, 194, 194);
    padding: 10px;
    max-height: 400px;
}

.top {
    display: flex;
}
.top input {
    width: 90%;
}
.table_titles {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}